body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .container {
    display: flex;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
  }
  
  .sidebar {
    flex: 1;
    padding: 20px;
  }
  
  .logo img {
    width: 100px; /* Adjust according to your logo size */
    height: auto;
    margin-bottom: 20px;
  }
  
  .logged-in {
    margin-bottom: 20px;
  }

  .logged{
    height: 100px;
    width: 100px;
    display: block;
  }
  
  .login-form {
    flex: 1;
    padding: 20px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 108%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #1877f2;
  }
  